@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 93%;
    --muted-foreground: 0 0% 55%;
    --border: 0 0% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .children-dimmed > * {
    @apply opacity-50;
  }
  .children-dimmed > *:hover {
    @apply opacity-100;
  }
}
